/* <editor-fold defaultstate="collapsed" desc="Reset CSS"> */
/*
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* </editor-fold> */
/* <editor-fold  desc="Layout"> */
main {
    width: 1080px;
    margin: auto;
    max-width: 98vw;
}

body {
    font-family: "Montserrat", sans-serif;
}

nav {
    margin-bottom: 30px;

    div ul {
        display: inline-block;

        > li {
            display: inline-block;
            color: black;

            > a {
                cursor: pointer;
                padding: 10px 10px;
                color: black;
                margin: 0 10px;
                border-bottom: 1px solid black;
                display: inline-block;
            }
        }
    }
    >ul {
        background-color: rgba(36, 36, 36, 0.8);
        padding: 50px;
        position: absolute;
        left: -100vw;
        width: 100vw;
        transition: left .5s;
        >li {
            background-color: white;
            padding: 7px;
            display: inline-block;
            margin: 5px;
            >a {
                color: black;
            }
        }
        &.active{
            left: 0;
        }
    }
}


#cart-link.active {
    animation: bounce 1s;
}

[data-subscription] {
    cursor: pointer;
}

td {
    padding: 20px;
}

tr:nth-child(odd) {
    background-color: #e7dedf;
}

@keyframes bounce {
    0% {
        transform: translateY(0);

    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }

}

h1 {
    margin-bottom: 70px;
}

.tag-pill {
    padding: 0 16px;
    display: inline-block;
    background-color: lightgray;
    color: black;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    margin: 5px;
}


/* </editor-fold> */
